<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1>A Simple Markdown Editor</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center word-count">
      Word Count: {{wordCount}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <textarea #inputArea [(ngModel)]="inputText" (ngModelChange)="render()" class="max-size"></textarea>
    </div>
    <div class="col">
      <div [innerHtml]="outputText" class="max-size"></div>
    </div>
  </div>
</div>
