.container-fluid {
  margin-top: 18px;
}

.max-size {
  width: 100%;
  height: 500px;
  background-color: #EEE;
  border: 1px solid #AAA;
  padding: 20px;
}

.button {
  background-color: deepskyblue;
  color: black;
}
